html{
    background-color: #000;
    color:#fff;
    width: 100%;
    height: 100%;
    margin:0px;
    border: 0px solid #000;
    font-family:"roboto" ;
}
@font-face{
    font-family: roboto;
    src: url(../Roboto-Regular.ttf);
}

a,h2,p,ul{
    color:#fff;
    text-decoration: none;
    font-size:2vh;
    

}
body{
    margin:0px;
    border:0px solid #000;
    padding-bottom:40px;
}
h1{
    font-size: 2.8vh;
}
.foto{
    width: 36vh;
    height:52vh ;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.9em #fff;
}
button{
    margin:20px;
    width: 20vh;
    height: 4vh;
    font-size: 2vh;
    background-color: #000;
    color: #fff;
    box-shadow: 0.0em 0.0em 0.4em #fff;
    border-radius: 10px;
}
button:hover{
    background-color: #222121;
    cursor: pointer;
}
menu{
    display: none;
    text-align: center;
    text-align: center;
}
.none{
    border: 0px solid #000;
    box-shadow: 0.0em 0.0em 0.0em #000;
}
.menu_insert{
    cursor: pointer;
}
header{
    background-image:url(../header.png);
    background-size:cover;
    width: 100%;
    height:600px;
    border:0px solid #000;
    margin:0px;
    
}
#menu{
    padding-right: 40px;
}
footer{
    border-top:solid 1px #fff;
    padding-top:20px;
    width: 100%;
    text-align: center;
}