.foto_principal_div, .button_contato_div{
    text-align: center;


}
.container-cima{
    margin: 10px;
}
.menu{
   width: 8vh;
   height: 8vh;
}
p{  
    margin:0px;
    font-size: 2.2vh;
}
.amenu{
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    border: #303030 1px solid;
    margin: 3px;
    box-shadow: 0.1em 0.1em 0.9em #fff;
}
.amenu:hover{
    background-color: #2b2b2b;

   
}
.titulo_div, .topicos_informacionais_div, .topicos_marcas_registradas_div {
    border-bottom:solid 1px #fff;
    display: inline-block;
}
 .foto_principal_div{
    margin-bottom:70px;
}
